<section class="bar-bottom">
    <div>
      <a href="">
        <span class="material-icons-outlined">
          play_arrow
        </span>
        <span>Play Video</span>
      </a>
    </div>
    <div class="controls">
      <div class="arrows">
        <span class="material-icons-outlined arr-left">
          arrow_left_alt
        </span>
        <span class="material-icons-outlined arr-right">
          arrow_right_alt
        </span>
      </div>
      <div>
        <small class="shoe-num">01</small>
        <div class="pagination">
          <span class="pag pag-active"></span>
          <span class="pag"></span>
          <span class="pag"></span>
        </div>
        <small class="shoe-total">03</small>
    </div>
    </div>
    <div class="cart">
      <button>Add to Cart</button>
      <span class="material-icons-outlined">
        favorite_border
      </span>
    </div>
  </section>

  {% schema %}
  {
    "name": "related-products",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "related-products"
      }
    ]
  }
  {% endschema %}